body {
    font-family: sans-serif;
    background-color: greenyellow;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1080px;
    height: 250px;
    background-color: white;
    padding: 50px;
    border-radius: 10px;
}

#word {
    text-transform: capitalize;
}

#phonetic {
    font-style: italic;
    text-decoration: underline;
    color: grey;
}

#phonetic:hover {
    cursor: pointer;
}

.partOfSpeech {
    font-weight: bold;
}

#input, #input:active {
    border: none;
    border-bottom: 1px solid greenyellow;
}


#submitButton {

    margin-left: 20px;
    width: 100px;
    height: 50px;
    background-color: white;
    color: grey;
    border-radius: 5px;
    border-color: greenyellow;
    box-shadow: 5px 2px 10px greenyellow;
}

#submitButton:hover {
    cursor: pointer;
}

#userInput {
    text-align: center;
}